<div class="hero min-h-content bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse w-full my-10">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Reset Password</h1>
      <p class="py-6">Enter your email to receive reset instructions</p>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100 px-5 py-5">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-control">
          <%= f.label :email, class: 'label' do %>
            <span class="label-text">Email</span>
          <% end %>
          <%= f.email_field :email, placeholder: 'example@example.com', autofocus: true, autocomplete: "email", class: 'input input-bordered w-full' %>
        </div>

        <div class="form-control mt-4">
          <%= f.submit "Send me reset password instructions", class: 'btn btn-primary' %>
        </div>

        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
</div>
